<%- include('header') -%>
    <!-- Main Content -->
    <div id="main-content">
      <!-- Sidebar -->
      <div id="sidebar">
        <div id="sidebar-top">
          <img
            src="https://static.vecteezy.com/system/resources/previews/007/467/620/original/abstract-wallpaper-graphics-style-multicolor-green-pink-blue-orange-violet-illustration-free-vector.jpg"
            alt=""
            class="back"
          />
          <img
            src="/images/home/profile-user.png"
            alt=""
            height="40px"
            width="40px"
            class="profile"
          />

          <h2><%=name%></h2>
          <h4><%=data.email_id%></h4>
        </div>
        <div id="sidebar-statistics">
          <div class="sidebar-stat">
            <p>Who Viewed You</p>
            <p class="stat">2,350</p>
          </div>
          <div class="sidebar-stat">
            <p>Who Viewed You</p>
            <p class="stat">2,350</p>
          </div>
        </div>
        <div id="sidebar-bottom">
          <p>Recent</p>
          <div class="recentItem">
            <span class="sidebar-hash">#</span>
            <p>reactjs</p>
          </div>
          <div class="recentItem">
            <span class="sidebar-hash">#</span>
            <p>blockchain</p>
          </div>
          <div class="recentItem">
            <span class="sidebar-hash">#</span>
            <p>tensorflow</p>
          </div>
          <div class="recentItem">
            <span class="sidebar-hash">#</span>
            <p>Elastic Search</p>
          </div>
        </div>
      </div>
      <!-- Feed -->
      <div id="feed">
        <div class="feed-input-container">
          <div class="feed-input">
            <i class="fa-solid fa-pen"></i>
            <form action="/feed" method="POST">
              <input type="text" name="txtarea" id="" />
            </form>
          </div>
          <div class="feed-input-options">
            <div class="input-option">
              <i class="fa-solid fa-image" style="color: #70b5f9"></i>
              <h4>Photo</h4>
            </div>
            <div class="input-option">
              <i class="fa-solid fa-film" style="color: orange"></i>
              <h4>Video</h4>
            </div>
            <div class="input-option">
              <i class="fa-regular fa-calendar" style="color: gray"></i>
              <h4>Event</h4>
            </div>
            <div class="input-option">
              <i class="fa-solid fa-newspaper" style="color: green"></i>
              <h4>Article</h4>
            </div>
          </div>
        </div>
        <!-- Post 1 -->
        <% feed.forEach((element)=>{ %>
        <%alldatas.forEach((dat)=>{{if(dat.email_id===element.email_id){ %>
        
        <div class="posted">
          <div class="post-header">
            <%if (dat.profilePicture == null || typeof dat.profilePicture == 'undefined' || dat.profilePicture=={} || JSON.stringify(dat.profilePicture) === '{}' ) { console.log("no-pic");%>
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIg74DLmQxFVxzS_-jAsHnWeJGfNZEgQtWsA_cYgmmpg&s"
              alt=""
              height="40px"
              width="40px"
              class="profile"
            /> <%}else{%>
              <img src="data:profilePicture/<%=dat.profilePicture.contentType%>;base64,
          <%=dat.profilePicture.data.toString('base64')%>"   alt=""
            height="40px"
            width="40px"
            class="profile"/>
              <%}%>
            <div class="post-info">
              <h2><%=dat.name%></h2>
              <p><%=dat.about%></p>
            </div>
          </div>
          <div class="post--body">
            <p><%=element.post%></p>
          </div>
          <div class="feed-input-options">
            <div class="input-option">
              <i class="fa-solid fa-heart" style="color: gray"></i>
              <h4>Like</h4>
            </div>
            <div class="input-option">
              <i class="fa-solid fa-comment-dots"></i>
              <h4>Comment</h4>
            </div>
            <div class="input-option">
              <i class="fa-solid fa-share"></i>
              <h4>Share</h4>
            </div>
          </div>
        </div>
        <%}}})%>
          <% }) %>
      <!-- Widget -->
      <div id="widget">
        <div class="widget-header">
          <h2>The Hiring Lab</h2>
          <i class="fa-solid fa-circle-info"></i>
        </div>
        <!-- Article 1 -->
        <div class="widget-article">
          <div class="widget-article-left">
            <i class="fa-solid fa-circle"></i>
          </div>
          <div class="widget-article-right">
            <h4>Trends in AI</h4>
            <p>Top News - 4390 readers</p>
          </div>
        </div>
        <!-- Article 2 -->
        <div class="widget-article">
          <div class="widget-article-left">
            <i class="fa-solid fa-circle"></i>
          </div>
          <div class="widget-article-right">
            <h4>Employee hiring patterns</h4>
            <p>Top News - 1290 readers</p>
          </div>
        </div>
        <!-- Article 3 -->
        <div class="widget-article">
          <div class="widget-article-left">
            <i class="fa-solid fa-circle"></i>
          </div>
          <div class="widget-article-right">
            <h4>Competitive</h4>
            <p>Top News - 783 readers</p>
          </div>
        </div>
        <!-- Article 4 -->
        <div class="widget-article">

          <div class="widget-article-left">
            <i class="fa-solid fa-circle"></i>
          </div>
          <div class="widget-article-right">
            <h4>Remote Jobs</h4>
            <p>Top News - 8614 readers</p>
          </div>
        </div>
      </div>
    </div>
    <!-- End -->
  </body>
</html>
