<%- include('header') -%>
<main>
  <div id="feed">
    <form action="/profilePage" method="post">
      <section id="prl">
        <div id="picture">
          <%if(image === null || typeof image == 'undefined'){}else{%>
            <img src="data:image/<%=image.contentType%>;base64,
        <%=image.data.toString('base64')%>">
        <%}%>
        </div>
        <div id="banner"></div>
        <div id="details">
          <div class="container">
            <h1 id="username"><%=data2.name%></h1></h1>
            <p id="about"><%=data2.about%></p>
            <p id="contactinfo"><%=data2.contactInfo%></p>
            <p id="email_id"><%=data2.email_id%></p>
            <span>
              <p id="address"><%=data2.address%></p>
            </span>
            <%connectedAlready = 0%>
            <% connectedAlreadyCheck.forEach((element)=>{ %>
            <% if(element == data2.email_id){ connectedAlready = 1}%>
            <%})%>
            <input type="hidden"  value='<%=data2.email_id%>' name="connectperson" >
            <%if(connectedAlready == 0){%>
            <input type="submit" class = "click-button" name="connect" value="Connect">
            <%}else{%>
              <button type="button" class="click-button" name="connect" value="Connected">Connected</button>
              <%}%>
          </div>
        </div>
      </section>
      <section id="guides">
        <div class="article">
          <h2>Experience</h2>
          <div class="display-content1">
            <p id="show-final-content1"><%=data2.experience%></p>
          </div>
        </div>
        <div class="article">
          <h2>Education</h2>
          <div class="display-content2">
            <p id="show-final-content2"><%=data2.education%></p>
          </div>
        </div>
        <div class="article">
          <h2>Skills</h2>
          <div class="display-content3">
            <p id="show-final-content3"><%=data2.skills%></p>
          </div>
        </div>
      </section>
    </form>
  </div>
</main>
