<%- include('header') -%>
    <main>
      <div id="feed">
        <form action="/profile" method="post">
          <section id="prl">
            <div id="picture"></div>
            <div id="banner"></div>
            <div id="details">
              <div class="container">
                <h1 id="username">User</h1>
                <p id="about">About</p>
                <p id="contactinfo">Contact Info</p>
                <p id="email_id">Email ID</p>
                <span>
                  <p id="address">Address</p>
                </span>
                <!-- <button class="click-button" onclick="myProfileEditFunction()">
                  Edit
                </button> -->
              </div>
            </div>
            <div id="edit-profdetails">
              <div class="edit-profdetails">
                  <table class="profile-table">
                    <tr>
                      <th>User Name:</th>
                      <td>
                        <input type="text" id="uname" name="uname" value="" />
                      </td>
                    </tr>
                    <tr>
                      <th>About:</th>
                      <td><input type="text" id="abt" name="abt" value="" /></td>
                    </tr>
                    <tr>
                      <th>Contact Info:</th>
                      <td>
                        <input type="text" id="cinfo" name="cinfo" value="" />
                      </td>
                    </tr>
                    <tr>
                      <th>Address:</th>
                      <td><input type="text" id="add" name="add" value="" /></td>
                    </tr>
                    <tr>
                      <td>
                        <!-- <button
                          class="click-button"
                          onclick="myProfileSubmitFunction()"
                        >
                          Submit
                        </button> -->
                      </td>
                    </tr>
                  </table>

              </div>
            </div>
          </section>

          <section id="guides">
            <div class="article">
              <h2>Experience</h2>
              <div class="edit-content1">
                  <textarea type="text" width=20% name="exp" id="edited-content1" rows="8" cols="80"><%if(data.profile == null || typeof data.profile == 'undefined'){%>Enter your experience <%}else{%><%=data.profile.experience%><%}%></textarea><br/>
                  <!-- <button class="click-button" onclick="mySubmitFunction1()">
                    Submit
                  </button> -->

              </div>

              <div class="display-content1">
                <p id="show-final-content1">Enter your work Experience</p>
                <!-- <button class="click-button" onclick="myEditFunction1()">
                  Edit
                </button> -->
              </div>
            </div>

            <div class="article">
              <h2>Education</h2>
              <div class="edit-content2">
                  <textarea type="text" name="edu" id="edited-content2" rows="8" cols="80"><%if(data.profile == null || typeof data.profile == 'undefined'){%>Enter your education<%}else{%><%=data.profile.education%><%}%></textarea><br/>
                  <!-- <button class="click-button" onclick="mySubmitFunction2()">
                    Submit
                  </button> -->

              </div>
              <div class="display-content2">
                <p id="show-final-content2">Enter your Education</p>
                <!-- <button class="click-button" onclick="myEditFunction2()">
                  Edit
                </button> -->
              </div>
            </div>
            <div class="article">
              <h2>Skills</h2>
              <div class="edit-content3">
                  <textarea name="skill" type="text" id="edited-content3" rows="8" cols="80"><%if(data.profile == null || typeof data.profile == 'undefined'){%>Enter your skills <%}else{%><%=data.profile.skills%><%}%></textarea><br />
                  <input type="submit" class="click-button" value="Submit" onclick="mySubmitFunction()">
              </div>
              <div class="display-content3">
                <p id="show-final-content3">Enter your Skills</p>
                <input type="button" class="click-button" value="Edit" onclick="myEditFunction()">
              </div>
            </div>
          </section>
        </form>
      </div>
    </main>
    <footer>
      <p></p>
    </footer>
    <script
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"
      type="text/javascript"
    ></script>
    <script>
      <%if(data.profile.name == "" || typeof data.profile.name == 'undefined'){%>
        <%console.log(data.email_id)%>
        document.getElementById("username").innerText = "Username";
        document.getElementById("about").innerText = "About";
        document.getElementById("contactinfo").innerText = "Contact Info";
        document.getElementById("address").innerText = "Address";
        document.getElementById("email_id").innerText = '<%=data.email_id%>';
         <%} else {%>
        <%console.log(data.email_id)%>
        document.getElementById("username").innerText = '<%=data.profile.name%>';
        document.getElementById("about").innerText = '<%=data.profile.about%>';
        document.getElementById("contactinfo").innerText = '<%=data.profile.contactInfo%>';
        document.getElementById("address").innerText = '<%=data.profile.address%>';
        document.getElementById("email_id").innerText = '<%=data.email_id%>';
        document.getElementById("show-final-content1").innerText = '<%=data.profile.experience%>';
        document.getElementById("show-final-content2").innerText ='<%=data.profile.education%>';
        document.getElementById("show-final-content3").innerText ='<%=data.profile.skills%>';
        document.getElementById("picture").style.backgroundImage = "url('https://upload.wikimedia.org/wikipedia/en/thumb/e/e2/IMG_Academy_Logo.svg/800px-IMG_Academy_Logo.svg.png')";
        <%}%>


      function myEditFunction() {
        $(".display-content1").css("display", "none");
        $(".edit-content1").css("display", "block");

        $(".display-content2").css("display", "none");
        $(".edit-content2").css("display", "block");

        $(".display-content3").css("display", "none");
        $(".edit-content3").css("display", "block");

        $("#details").css("display", "none");
        $("#edit-profdetails").css("display", "block");
        document.getElementById("uname").value =
          document.getElementById("username").innerText;
        document.getElementById("abt").value =
          document.getElementById("about").innerText;
        document.getElementById("cinfo").value =
          document.getElementById("contactinfo").innerText;
        document.getElementById("add").value =
          document.getElementById("address").innerText;
          document.getElementById("edit_content1").innerText =
            document.getElementById("show-final-content1").innerText;
            document.getElementById("edit_content2").value =
              document.getElementById("show-final-content2").innerText;
              document.getElementById("edit_content3").value =
                document.getElementById("show-final-content3").innerText;


      }
      function mySubmitFunction() {
        //const edit_content1 = document.getElementById("edited-content1").value;
        $(".display-content1").css("display", "block");
        $(".edit-content1").css("display", "none");
      //  document.getElementById("show-final-content1").innerText ="edit_content1";

        //const edit_content2 = document.getElementById("edited-content2").value;
        $(".display-content2").css("display", "block");
        $(".edit-content2").css("display", "none");
      //  document.getElementById("show-final-content2").innerText = "edit_content2";

        //const edit_content3 = document.getElementById("edited-content3").value;
        $(".display-content3").css("display", "block");
        $(".edit-content3").css("display", "none");
        //document.getElementById("show-final-content3").innerText = "edit_content3";


          /*const u_name = document.getElementById("uname").value;
          const about = document.getElementById("abt").value;
          const contact_info = document.getElementById("cinfo").value;
          const address = document.getElementById("add").value;*/
          $("#details").css("display", "block");
          $("#edit-profdetails").css("display", "none");
          /*document.getElementById("username").innerText = "u_name";
          document.getElementById("about").innerText = "about";
          document.getElementById("contactinfo").innerText = "contact_info";
          document.getElementById("address").innerText = "address";*/

      }


    </script>
  </body>
</html>
